* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  letter-spacing: 5px;
  padding: 1.5rem;
}
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  margin: 4rem 0rem;
  font-size: 64px;
  letter-spacing: 5px;
  padding: 3rem;
}
h2 {
  font-size: 24px;
  margin: 2rem 5rem;
}
button {
  color: white;
  margin: 0.7rem;
  border-style: none;
  width: 100px;
  height: 100px;
  background: #a30000;
  border: 10px solid #1d1d1d;
  border-radius: 50px;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  background-color: #ff0000;
}
