@mixin flexer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin animate {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // @include flexer;

  // background-size: 400px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.content {
  //: flex;
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  @include flexer;
  // background-position-y: calc(100% - 9rem);
  padding-top: 9rem;
  //align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

h1 {
  color: white;
  font-size: 1.3em;
  font-weight: lighter;
  letter-spacing: 5px;
  padding: 1.5rem;
}

.meter {
  width: 150px;
  height: 77.5px;
  background: #dfc68d;
  position: relative;
  overflow: hidden;
}

.needle {
  background: black;
  width: 60px;
  height: 1px;
  transform: rotate(20deg);
  transform-origin: 100% 0%;
  position: absolute;
  bottom: 5px;
  left: 15px;
  transition: transform 0.05s;
  z-index: 9;
}

.shadow {
  border-top: solid 40px rgba(0, 0, 0, 0.3);
  border-left: solid 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: -10px;
  left: -10px;
  position: absolute;
  filter: blur(5px);
}

.label {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 55%;
}

.meter .indicator {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.75em;
}

.meter .indicator.plus {
  left: auto;
  right: 10px;
  color: #aa0000;
}

.needleBase {
  width: 37.2px;
  height: 16px;
  position: absolute;
  bottom: 4.5px;
  left: 55px;
  z-index: 1;
  overflow: hidden;
}

.needleBase span {
  display: black;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #333;
  position: absolute;
  top: 50%;
}

.meterLine {
  width: 125px;
  height: 48.5px;
  position: absolute;
  top: 4px;
  left: 15px;
  overflow: hidden;
  z-index: 1;
}
.meterLine span.base {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 12.5px;
  top: 16px;
  border-radius: 100%;
  border: solid 1px black;
}

.meterLine .danger {
  width: 30%;
  position: absolute;
  height: 37.5px;

  left: 72.5px;
  top: 11px;
  overflow: hidden;
}

.meterLine .danger span.base {
  position: absolute;
  left: -64px;
  top: 0px;
  border: solid 5px #a00;
}

#meters {
  display: flex;
}
.meter {
  margin: 10px;
}

input {
  background: #dfc68d;
  margin-bottom: 1.5rem;
  font-size: 12px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
  color: white;
  margin: 0.7rem;
  border-style: none;
  width: 50px;
  height: 50px;
  background: #be0101;
  border: 5px solid #1d1d1d;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
button:focus {
  background-color: #ff0000;
}

.setEq {
  @include flexer;
  flex-direction: column;
}

.btnRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carousel {
  @include flexer;
  margin-top: 2rem;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #1b2529;
  border: #3e535c 25px solid;
}
// #carImg {
//   display: none;
//   height: 180px;
//   width: 180px;
//   border-radius: 50%;
// }
// .carAnimation {
//   @include animate;
// }
// .mobileImg {
//   display: none;
//   height: 180px;
//   width: 180px;
//   border-radius: 50%;
// }
// .mobileAnimation {
//   @include animate;
// }
// .speakerImg {
//   display: none;
//   height: 180px;
//   width: 180px;
//   border-radius: 50%;
// }
// .speakerAnimation {
//   @include animate;
// }
// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// @-moz-keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// @-webkit-keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

#canvas {
  // @include flexer;
  // position: fixed;
  left: 0;
  top: 0%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 25px #3e535c;
  filter: blur(1px);
  // z-index: -1000;
}

@media screen and (max-width: 480px) {
  .content {
    background-position-y: bottom;
    padding-top: 0.5rem;
  }
  h1 {
    font-size: 1em;
    padding: 1rem;
  }
  .meter {
    margin: 5px;
  }
}
@media screen and (max-width: 360px) {
  .content {
    padding-top: 1rem;
  }
}
